.map-container {
  margin: 0 auto;
  width: 90vw;
}

.map-legend {
  text-align: left;
  margin-left: 70vw;
}

.map-legend div {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.map-legend li {
  list-style: none;
}