@media only screen and (max-width: 600px) {
    .navbar-item {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
.navbar-item {
    display: inline-block;
    list-style-type: none;
}
